<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./base/header/head') %>
</head>
<body class="<%= typeof rightSidebar !== 'undefined' && rightSidebar ? 'has-right-sidebar' : '' %>">
  <!-- Top Navigation -->
  <%- include('./base/menu/top') %>

  <!-- Mobile Sidebar -->
  <aside class="mobile-sidebar" id="mobile-sidebar">
 
  </aside>

  <!-- Left Sidebar -->


  <!-- Right Sidebar (conditionally included) -->


  <!-- Main Content -->
  <main class="content" id="content">
    <%- content %>
  </main>

  <!-- Footer -->
  <footer class="footer">
  
  </footer>

  <!-- JavaScript -->
  <script src="/assets/js/sidebar.js"></script>
  <script src="/assets/js/top-nav.js"></script>
  <script src="/assets/js/theme.js"></script>
  
  <!-- GitHub Buttons Script -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Rest of your scripts... -->
</body>
</html>