
<header>
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <img src="<%= assetPrefix %>assets/images/kdo_logo.jpg" alt="KDO Logo">
                <div class="logo-text">
                    <h1>KDO</h1>
                    <p>Khmer Democracy Organization (KDO) inc.</p>
                </div>
            </div>
            <div class="social-header">
                <a href="https://www.facebook.com/democracy.khmer.org" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://x.com/KdoAustralia" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/@khmer-democracy" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        
        <%- include('./nav') %>
    </div>
</header>